        <script src="/js/jquery-2.2.4.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script>
            // Every time a modal is shown, if it has an autofocus element, focus on it.
            $('.modal').on('shown.bs.modal', function() {
                $(this).find('[autofocus]').focus();
            });
        </script>
    </body>
</html>
