<%- include ./partials/header %>
    <div class="container">
        <div class="jumbotron">
            <h1>Basic Express App</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, magnam eius omnis eos at non tempore et eum perferendis impedit deleniti aliquid ipsa ratione aperiam eligendi quidem nesciunt repudiandae quaerat!
            </p>
        </div>
    </div>
<%- include ./partials/footer %>